@import '../../variables.css';

.commentBox{
  padding: 0px;
}

.commentsList{
  list-style-type: none;
  padding: 0px;
  margin-top: 30px;
}

.commentsList li{
  padding: 15px 10px;
  margin-bottom:5px;
  border-top: 1px solid #CCCCCC;
  font-family: var(--font-family-base);
  font-weight: 200;
}

.commentsList li .link{
  margin: 3px;
  padding: 0px;
  color: #333333;
  font-weight: 400;
  font-family: var(--font-family-base);
}

.commentsList .comment{
  font-size: 14px;
}
