@import '../variables.css';


.circularContainer {
  border: 1px solid var(--color-primary);
  overflow: hidden;
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  text-align: center;
}

.circularContainer:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

.circularContainer .content {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;

  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}
