.interviewSectionContainer{
  display: block;
  margin: 5px 5px 30px 5px;
  padding:3px;
  text-align: center;
  vertical-align: middle;
}

.interViewStepIndicator{
  margin-top: 25px;
  font-size: 24px;
  font-family: var(--font-family-header);
  font-weight: bold;
}

.interViewNextStep{
  margin-top: 6px;
  font-size: 16px;
  font-family: var(--font-family-header);
  font-weight: bold;
}

.stepIndicator{
  vertical-align: middle;
}

.stepIndicator:hover{
  background-color: #F5F5F5;
}

.line{
  border-top: 3px solid var(--color-primary);
  display: inline-block;
  width: 40px;
}

.stepContainer{
  display: inline-block;
}
