@import '../../variables.css';

.actionbutton {
  width: 40px;
  height: 40px;
  background-color: var(--color-primary-light);
  color: #333;
  border-radius: 20px;
  text-align: center;
  margin:8px;
  clear: right;
}

.actionbutton:hover{
    background-color: #CCCCCC;
}

.actionbutton:active{
    background-color: #BBBBBB;
}

.actionbutton:hover .text{
  visibility: visible;
}

.text{
  position: relative;
  right: 46px;
  bottom: 22px;
  text-align: right;
  float: right;
  width: 300px;
  height: 0px;
  margin: 0px;
  padding: 0px;
}

.hidden{
  visibility: hidden;
}

.icon{
  margin-top: 15px;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}
