@import '../../variables.css';

.newsList{
  margin-left:auto;
  margin-right:auto;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 50px;
}

.newsList h2 {
  font-family: var(--font-family-subheader);
  font-size: 30px;
  font-weight: 500;
}

.newsList p {
  font-family: var(--font-family-base);
  font-weight: 200;
}

.newsList .news {
  padding: 0;
}

.newsList .newsItem {
  list-style-type: none;
  padding-bottom: 6px;
}

.newsList .title {
  font-size: 1.125em;
}

.newsList .title, .newsList .newsDesc {
  display: block;
}

.newsList .link{
  color:#333333;
  font-weight: 400;
  padding: 0px;
}
