@import '../../variables.css';

@font-face{
  font-family: 'josefin-sans';
  src: url('/josefin-sans/JosefinSans-SemiBold.ttf') format('truetype');
}

.newsList{
  margin-left:auto;
  margin-right:auto;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 50px;
  max-width:700px;
}

.newsList .news {
  padding: 0;
}

.newsList .newsItem {
  list-style-type: none;
  padding-bottom: 6px;
}

.newsList .title {
  font-size: 1.125em;
}

.newsList .title,
.newsList .newsDesc {
  display: block;
}

.newsList .link{
  color:#333333;
  font-weight: 400;
}

.loader{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
