@import '../../variables.css';

.container {
  margin: 0 auto;
  padding: 0;
  max-width: var(--max-content-width);
}

.name{
  font-size: 20px;
  margin: 10px;
  font-weight: 300;
  display: inline-block;
  font-family: var(--font-family-subheader);
}

.connections{
  color: #AAAAAA;
  display: inline-block;
}

.inactiveConnection{
  margin-right: 5px;
}

.activeConnection{
  margin-right: 5px;
  color: #444444;
}

.comments{
  display: inline-block;
  float:right;
  margin-right: 10px;
  margin-top: 12px;
}

.recruitLink{
  color:#555555;
}

.recruitLink:hover{
  color:#333333;
}
