@import '../variables.css';

.root {
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.link {
  display: inline-block;
  padding: 14px 20px;
  text-decoration: none;
}

.link,
.link:active,
.link:visited {
  color: rgba(255, 255, 255, 0.6);
}

.link:hover {
  color: rgba(255, 255, 255, 1);
}

.highlight {
  background: rgba(0, 0, 0, 0);
  color: #fff;
}

.highlight.active {
  background: var(--color-secondary-dark-green-solid);
}

@media (hover: hover) {
  .highlight:hover {
    background: var(--color-secondary-dark-green-solid);
  }
}

.spacer {
  color: rgba(255, 255, 255, 0.3);
}

.menuContainer{
  background-color: var(--color-secondary-dark-green-solid);
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0px;
  z-index: 10000;
}

.menuContent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menuContentLimiter{
  width:140px;
}

.menuBlock{
  width:100px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-bottom: 2px solid transparent;
  transition: border-color .8s ease;
}

.menuBlock:hover{
  border-bottom-color: #fff;
}

.menuBlockLink{
  display: inline-block;
  color: rgba(255, 255, 255, 255);
}

.menuBlockLink:hover{
  text-decoration: none;
}

.comming{
  color: rgba(144, 165, 152, 1);
}

.menuIcon{
  font-size: 35px !important;
  display: block;
  margin-top: 10px;
}

.menuText{
  font-size: 20px !important;
  display: block;
}

.subMenu{
  width:250px;
  margin: 0px 0px 40px 25px;
  padding: 0px;
}

.subMenu .subMenuList{
  list-style: none;
  margin: 20px 0px 0px -35px;
  padding: 0px;
}

.subMenuIndicator{
  margin-left: 36px;
}

.subMenu .menuBlock{
  width: auto;
  text-align: left;
  border-left: 2px solid transparent;
  border-bottom: 0px;
  transition: border-color .8s ease;
  padding: 5px 0px 5px 10px;
  margin: 0px;
}

.subMenu .menuBlock:hover{
  border-left-color: #fff;
}

.subMenu .menuIcon{
  font-size: 15px !important;
  display: inline-block;
  margin-right: 10px;
  margin-top: 0px;
}

.subMenu .menuText{
  font-size: 14px !important;
  display: inline-block;
}
