@import '../variables.css';

.root {
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.link {
  display: inline-block;
  padding: 14px 20px;
  text-decoration: none;
}

.link,
.link:active,
.link:visited {
  color: rgba(255, 255, 255, 0.6);
}

.link:hover {
  color: rgba(255, 255, 255, 1);
}

.highlight {
  background: rgba(0, 0, 0, 0);
  color: #fff;
}

.highlight:hover {
  background: rgba(0, 0, 0, 0.5);
}

.spacer {
  color: rgba(255, 255, 255, 0.3);
}

.menuContainer{
  background-color: var(--color-secondary-dark);
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0px;
  z-index: 10000;
}

.menuContent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menuBlock{
  width:100px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-bottom: 2px solid transparent;
  transition: border-color .8s ease;  
}

.menuBlock:hover{
  border-bottom-color: #fff;
}

.menuBlockLink{
  display: inline-block;
}

.menuBlockLink:hover{
  text-decoration: none;
}

.menuIcon{
  font-size: 35px !important;
  color: rgba(255, 255, 255, 255);
  display: block;
  margin-top: 10px;
}

.menuText{
  font-size: 20px !important;
  color: rgba(255, 255, 255, 255);
  display: block;
}
