@import '../../variables.css';

.list-item{
  background: #EEEEEE;
  max-width: 800px;
  margin-bottom: 10px;
  padding: 10px;
  display: block;
}

.list-item:hover {
  background: #CCCCCC;
}

.list-item .userName {
  font-family: 'josefin-sans';
  font-size: 24px;
  margin: 16px 0px 0px 20px;
  padding: 0px;
  vertical-align: top;
  display: inline-block;
}
