@import '../variables.css';

:root {
  --brand-color: #61dafb;
}

.root {
  background: var(--color-primary);
  color: #fff;
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: var(--max-content-width);
  height: 50px;
}

.brand img{
  margin-left: 5px;
  margin-top: 3px;
}

.nav {
  float: right;
}
