@font-face{
  font-family: 'josefin-sans';
  src: url('./../assets/fonts/josefin-sans/JosefinSans-SemiBold.ttf') format('truetype');
}

:root {
  /*
   * Typography
   * ======================================================================== */

  --font-family-header: 'josefin-sans', 'Helvetica Neue', sans-serif;
  --font-family-subheader: 'Helvetica Neue', sans-serif;
  --font-family-base: 'Segoe UI', 'Helvetica Neue', sans-serif;

  /*
   * Typography
   * ======================================================================== */
  --color-primary-green: rgba(144, 165, 152, 1.0);
    --color-primary-light-green: rgba(167, 191, 176, 1.0);
    --color-primary-very-light-green: rgba(144, 165, 152, 0.05);
  --color-secondary-green: rgba(144, 165, 152, 0.6);
    --color-secondary-light-green: rgba(111, 130, 118, 0.4);
    --color-secondary-dark-green: rgba(111, 130, 118, 0.9);
    --color-secondary-dark-green-solid: rgba(114, 133, 121, 1.0);

  --color-primary-gray: rgba(51, 51, 51, 1.0);
  --color-secondary-gray: rgba(51, 51, 51, 0.6);

  --color-primary: var(--color-primary-green);
    --color-primary-light: var(--color-primary-light-green);
    --color-primary-very-light: var(--color-primary-very-light-green);

  --color-secondary: var(--color-secondary-green);
  --color-secondary-light: var(--color-secondary-light-green);
  --color-secondary-dark: var(--color-secondary-dark-green);

  --color-text: #222;
  --color-header-primary: var(--color-primary);

  --color-error: rgba(224, 101, 101,1.0);
  --color-warning: rgba(51, 51, 51, 1.0);
  --color-confirm: rgba(51, 51, 51, 1.0);
  /*
   * Layout
   * ======================================================================== */

  --max-content-width: 800px;

  /*
   * Media queries breakpoints
   * ======================================================================== */

  --screen-xs-min: 480px;  /* Extra small screen / phone */
  --screen-sm-min: 768px;  /* Small screen / tablet */
  --screen-md-min: 992px;  /* Medium screen / desktop */
  --screen-lg-min: 1200px; /* Large screen / wide desktop */
}
