@import '../variables.css';

.notificationLink {
  display: inline-block;
  padding: 14px 20px;
  height: 22px;
  text-decoration: none;
}

.notificationLink,
.notificationLink:active,
.notificationLink:visited {
  color: rgba(255, 255, 255, 0.6);
}

.notificationLink:hover {
  color: rgba(255, 255, 255, 1);
}

.highlight {
  background: rgba(0, 0, 0, 0);
  color: #fff;
}

.highlight.active {
  background: var(--color-secondary-dark-green-solid);
}

@media (hover: hover) {
  .highlight:hover {
    background: var(--color-secondary-dark-green-solid);
  }
}

.spacer {
  color: rgba(255, 255, 255, 0.3);
}

.menuContainer{
  background-color: var(--color-secondary-dark-green-solid);
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0px;
  z-index: 10000;
}

.menuContent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.counterContainer{
  background-color: rgba(255,100,100,0.8);
  width: 16px;
  height: 16px;
  border-radius: 8px;
  position: relative;
  top: -23px;
  left: 11px;
  padding: 0px;
  margin: 0px;
}

.counter{
  font-size: 12px;
  font-weight: 400;
  position: relative;
  top: -3px;
  left: 5px;
}

.notificationIcon{
  height: 22px;
  overflow: hidden;
}
