@import '../../../components/variables.css';

.commentsSection{
  margin-top: 20px;
}

.recruitContainer h3{
  font-family: var(--font-family-header);
  font-size: 24px;
}

.recruitContainer h2{
  font-family: var(--font-family-header);
  font-size: 36px;
  text-align: center;
}

.commentBadge{
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  margin-top: 4px;
  float:right;
}

.react-tabs ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.react-tabs .react-tabs__tab{
  display: inline-block;
  width:33.333%;
  background-color: #CCCCCC;
}

.tabHeader{
  padding: 5px 10px;
}

.react-tabs .react-tabs__tab h3{
  margin: 0px;
}

.react-tabs  .react-tabs__tab--selected{
  background-color: var(--color-primary-light);
}

.react-tabs__tab-panel{
  margin-top:40px;
}

.interviewCommentSection{
  margin: 0 30px 0 30px;
}

.interviewDetailsSection{
  margin: 0 30px 30px 30px;
}

.interviewDetailsSection .btn{
  margin-top: 20px;
  margin-left: auto;
  margin-right: 0;
}

.interviewSection .btn{
  background-color: var(--color-primary-light);
  color:#ffffff;
  padding: 5px 10px;
  border-radius: 4px;
  text-align: center;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.interviewSection .btn:hover{
  background-color: var(--color-primary);
  cursor: pointer;
}

.expanderIcon{
  margin-left: 5px;
}

.Collapsible__contentOuter{
  border-left: 5px solid #EEEEEE;
  margin-bottom: 10px;
}

.interviewHeader{
  background-color: #EEEEEE;
  font-size: 24px;
}

.CommentsHeader{
  display: inline;
}

.interviewHeader .commentBadge{
  margin-right: 10px;
}

.rejectButton{
  background-color: #E88888;
}

.postponeButton{
  background-color: #79c7e6;
}
